<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>KVKK Metni</title>
    <link rel="stylesheet" href="./styles/style.css"/>
</head>
<body>
<section class="uye-ol">
    <div class="return-home">
        <a href="/" class="btn-home">Ana Sayfa</a>
    </div>

    <div id="wb60ec9a1958346ce989c73be73f64175" class="row detail-content-container" style="display: block;">
        <div class="col-12">
            <h2 class="page-title">
                <span style="color: rgb(19, 24, 62);">KVKK Aydınlatma Metni</span>
            </h2>
        </div>
        <div class="col-12">
            <div class="icerik" id="wb60ec9a1958346ce989c73be73f641752">
                <div style="text-align: justify;">&nbsp;</div>

                <div>
                    <div style="text-align: justify;"><strong>KİŞİSEL VERİLERİN İŞLENMESİ AYDINLATMA METNİ</strong>
                    </div>

                    <div style="text-align: justify;">&nbsp;</div>

                    <div style="text-align: justify;"><strong>1.&nbsp;&nbsp; &nbsp;Veri Sorumlusunun Kimliği</strong>
                    </div>

                    <div style="text-align: justify;">&nbsp;</div>

                    <div style="text-align: justify;">6698 sayılı Kişisel Verilerin Korunması Kanununun (KVK Kanunu) 10
                        uncu
                        maddesi ile Aydınlatma Yükümlülüğünün Yerine Getirilmesinde Uyulacak Usul ve Esaslar Hakkında
                        Tebliğ
                        kapsamında İçişleri Bakanlığı&nbsp;tarafından hazırlanmıştır.
                    </div>
                    &nbsp;

                    <div style="text-align: justify;"><strong>2.&nbsp;&nbsp; &nbsp;Kişisel Verilerinizin İşlenme
                            Amaçları</strong></div>

                    <div style="text-align: justify;"><br>
                        İçişleri Bakanlığı Nüfus ve Vatandaşlık İşleri Genel Müdürlüğü (NVİGM) aşağıda yer alan;
                    </div>

                    <ul>
                        <li style="text-align: justify;">Mevzuatlar tarafından öngörülen esas ve usuller doğrultusunda
                            veya
                            zorunlu kıldığı şekilde, hukuki yükümlülüklerin yerine getirilmesi,
                        </li>
                        <li style="text-align: justify;">Kurum faaliyetlerin yürütülmesi,</li>
                        <li style="text-align: justify;">NVİGM’nin Kimlik Paylaşımı Sistemi uygulaması kapsamında
                            yaptığı
                            Veri Paylaşımı Taahhütnameleri kapsamında ve alıcı gurubuna karşı hizmet standartları
                            çerçevesinde hizmet sağlanması ve Taahhütname gerekliliklerinin yerine getirilmesi,
                        </li>
                    </ul>

                    <div style="text-align: justify;">Amaçları kapsamında kişisel verilerinizi işlemektedir.</div>
                    &nbsp;

                    <div style="text-align: justify;"><strong>3.&nbsp;&nbsp; &nbsp;Kişisel Verilerinizin Üçüncü
                            Kişilerle
                            Paylaşılması ve Hangi Amaçla Aktarıldığı</strong><br>
                        <br>
                        Kişisel verileriniz 5490 sayılı Nüfus Hizmetleri Kanunun 45 inci maddesinin 1 inci fıkrası
                        kapsamında belirtilen kamu kurum, kuruluş ve kamu hizmeti sunan diğer tüzel kişilikler ile Veri
                        Paylaşımı Taahhütnamesi imzalanarak paylaşılmaktadır. Paylaşım yapılan alıcı kurum listesi Genel
                        Müdürlüğümüzün https://kpsbasvuru.nvi.gov.tr/Acik/KpsNedir web adresinde yer almaktadır.&nbsp;
                    </div>

                    <div style="text-align: justify;"><br>
                        Veri aktarımı, 6698 sayılı Kişisel Verilerin Korunması Kanununun Kişisel verilerin aktarılması
                        başlıklı 8. Maddesinin 2. Fıkrasının “a” bendindeki; “5 inci maddenin ikinci fıkrasında, (5.
                        Maddenin 2. Fıkrası: Kanunlarda açıkça öngörülmesi.) belirtilen şartlardan birinin bulunması
                        hâlinde, ilgili kişinin açık rızası aranmaksızın aktarılabilir.” hükmü kapsamında Kimlik
                        Paylaşımı
                        Sistemi ile yapılmaktadır.
                    </div>

                    <div style="text-align: justify;"><br>
                        Veri paylaşımı yapılan kurumlar ve yetkileri, 5490 sayılı Nüfus Hizmetleri Kanunun 2. Fıkrası:
                        “Veri
                        paylaşımından yararlanacakları belirlemeye, paylaşımın kapsamına ve hangi yöntemle yapılacağına
                        karar vermek üzere Genel Müdürlük bünyesinde Veri Paylaşımı Kurulu oluşturulur. Veri Paylaşımı
                        Kurulunun çalışma usul ve esasları Bakanlıkça çıkarılan yönetmelikle belirlenir.” Hükmü
                        kapsamında
                        oluşturulmuş olan Veri Paylaşımı Kurulunca belirlenmektedir.
                    </div>

                    <div style="text-align: justify;">&nbsp;</div>

                    <div style="text-align: justify;"><strong>4.&nbsp;&nbsp; &nbsp;Kişisel Verilerinizin Toplanma
                            Yöntemi ve
                            Hukuki Sebebi</strong></div>

                    <div style="text-align: justify;"><br>
                        NVİGM 5490 sayılı Nüfus Hizmetleri Kanunun Aile kütüklerinde bulunması gereken kişisel bilgiler
                        başlıklı 7. Maddesinde belirtilen veriler ile Cumhurbaşkanlığı Teşkilatı Hakkındaki 1 sayılı
                        Cumhurbaşkanlığı Kararnamesinin 258 inci maddesinde belirtilen iş ve işlemleri yürütmek üzere
                        veri
                        kayıt sistemleri ile işlemektedir.
                    </div>

                    <div style="text-align: justify;">5490 sayılı Kanunun ilgili hükmü:<br>
                        <br>
                        Aile kütüklerinde bulunması gereken kişisel bilgiler<br>
                        MADDE 7- (1) Her mahalle veya köy için ayrı aile kütüğü tutulur. Aile kütüklerinde aşağıdaki
                        bilgiler bulunur:<br>
                        a) Türkiye Cumhuriyeti kimlik numarası.<br>
                        b) Kayıtlı bulunduğu il, ilçe, köy veya mahalle adı ile cilt, aile ve birey sıra numarası.<br>
                        c) Kişinin adı ve soyadı, cinsiyeti, baba ve ana adı ile soyadları, evli kadınların önceki
                        soyadları.<br>
                        ç) Doğum yeri ile gün, ay ve yıl olarak doğum tarihi ve kütüğe kayıt tarihi.<br>
                        d) Evlenme, boşanma, soybağının kurulması veya reddi, ölüm, vatandaşlığın kazanılması veya
                        kaybedilmesi gibi kişisel durumda meydana gelen değişiklik veya yetkili makamlarca yapılan
                        düzeltmeler.<br>
                        e) Dini.<br>
                        f) Medenî hali.<br>
                        g) Yerleşim yeri adresi.<br>
                        ğ) Fotoğrafı.<br>
                        h) Biyometrik verisi.<br>
                        ı) Velayete ve vesayete ilişkin bilgileri. (a), (g), (ğ), (h) ve (ı) bentlerinde belirtilen
                        kayıtlar
                        sadece elektronik ortamda tutulur.<br>
                        1 sayılı Cumhurbaşkanlığı Kararnamesinin ilgili hükmü;<br>
                        Nüfus ve Vatandaşlık İşleri Genel Müdürlüğü&nbsp;<br>
                        MADDE 258 –(1) Nüfus ve Vatandaşlık İşleri Genel Müdürlüğünün görev ve yetkileri şunlardır:&nbsp;
                    </div>

                    <div style="text-align: justify;"><br>
                        a) Ülke nüfusunun yapısı, nitelikleri, nüfus hareketleri ve bunlardaki gelişmelere göre takip
                        edilecek politikaların tespitine dair çalışmaları ilgili kuruluşlarla işbirliği içinde yapmak,
                        belirlenecek esasların yürütülmesini sağlamak,&nbsp;
                    </div>

                    <div style="text-align: justify;"><br>
                        b) Nüfus hareketlerini takip etmek ve değerlendirmek, merkezde bir nüfus bilgi bankası kurmak,
                        aile
                        ve hayat istatistiklerine ait verileri toplamak, ilgili kuruluşlarla işbirliği içerisinde
                        yayınlamak,&nbsp;
                    </div>

                    <div style="text-align: justify;"><br>
                        c) Nüfus hizmetlerini düzenlemek, yürütmek, takip etmek, denetlemek ve değerlendirmek, usulüne
                        göre
                        tesis edilmemiş kayıtların silinmesini karara bağlamak, maddi hataları düzeltmek, aile
                        kayıtlarını
                        birleştirmek, mükerrer kayıtları birbirine göre tamamlamak ve diğerlerini silmek, nüfus
                        hizmetleri
                        ile ilgili olarak diğer bakanlık, kurum ve kuruluşlar arasında koordinasyon sağlamak,
                    </div>

                    <div style="text-align: justify;">&nbsp;<br>
                        ç) Vatandaşlığın kazanılması, kaybı ve göçmen olarak kabule dair işlemleri yürütmek ve
                        vatandaşlıkla
                        ilgili kanunları uygulamak, vatandaşlık anlaşmazlıklarını karara bağlamak ve vatandaşlık
                        incelemelerini yapmak,
                    </div>

                    <div style="text-align: justify;"><br>
                        d) Nüfus cüzdanlarının yürürlük, değiştirme ve geçerlilik tarihlerini belirlemek ve nüfus
                        cüzdanlarının üretiminde uygulanacak sistem ve teknolojiyi tespit etmek,&nbsp;
                    </div>

                    <div style="text-align: justify;"><br>
                        e) Pasaport, pasaport yerine geçen belgeler ve sürücü belgelerinde yer alacak bilgiler ile
                        biyometrik verinin türü, niteliği ve alınma yaşını tespit etmek, bu belgelerin tasarımı, temini,
                        basımı, dağıtımı, teslimi ile üretim ve kişiselleştirilmesine ilişkin işlemleri yürütmek ve
                        bunlara
                        dair usul ve esasları belirlemek,
                    </div>

                    <div style="text-align: justify;"><br>
                        f) Bakan tarafından verilen diğer görevleri yapmak.
                    </div>

                    <div style="text-align: justify;">&nbsp;</div>

                    <div style="text-align: justify;"><strong>5.&nbsp;&nbsp; &nbsp;Kişisel Veri Sahibinin 6698 sayılı
                            Kanunun 11 inci Maddesinde Sayılan Hakları</strong></div>

                    <div style="text-align: justify;">&nbsp;</div>

                    <div style="text-align: justify;">6698 sayılı Kanunu’nun 11 inci maddesinde düzenlenen haklarını, bu
                        Kanunu’nun 13 üncü maddesi ve Veri Sorumlusuna Başvuru Usul ve Esasları Hakkında Tebliğ
                        hükümleri
                        çerçevesinde yazılı başvuruları İçişleri Bakanlığının Meşrutiyet Caddesi Karanfil 2 Sokak No: 67
                        Kızılay/ANKARA adresine, Kayıtlı Elektronik Posta (KEP) ile yapılacak başvurular ise
                        "icisleribakanligi@hs01.kep.tr" (e-posta: kvkk@icisleri.gov.tr ) adresine iletilmelidir.<br>
                        &nbsp;
                    </div>

                    <div style="text-align: justify;">İşbu Aydınlatma Metni KVKK ve ilgili mevzuat uyarınca veri
                        sahiplerini
                        bilgilendirmek ve aydınlatmak amacı ile hazırlanmıştır.<br>
                        &nbsp;
                    </div>
                </div>

            </div>
        </div>
    </div>
</section>
</body>
</html>